$background-color: white;

.buttonMain {
	background-color: transparent;
	border: none;
	color: white;
}

.materialIcons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 36px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
}

.map {
	height: 140%;
	margin: 0;
	padding: 0;
	position: relative;
}

.serviceColorItem {
	height: 100%;
	width: 0.5em;
	border-radius: 2px;
}

.error{
	height: fit-content;
	padding: 1cm;
	background-color: var(--text-white-me);
	text-align: center;
	color: var(--text-black-he);
}
