$marginHeaders: 1%;
$small: 800px;
$medium: 900px;
$borderRadius: 5px;
$searchBarPadding: 3cm;

@mixin floaterToPosition($position) {
	float: $position;
}

@mixin verticalAlign {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header {
	display: flex;
	width: 100%;
	height: fit-content;
	background-color: var(--navigation);
	align-items: center;
}

.logoWithText {
	margin-right: 0;
	margin-left: $marginHeaders;
}

.menu {
	margin-left: auto;
	margin-right: $marginHeaders;
}

.contentContainer {
	position: static;
	display: grid;
	padding: 3em;
	height: 100%;
	background-color: var(--background);
	overflow-y: scroll;
	@media screen and (max-width: $small) {
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
	}
}

.card {
	display: grid;
	grid-template-columns: 1.2fr 1fr;
	padding: 10px;
	height: fit-content;
	background-color: var(--surface);
	color: var(--text-black-he); //text color
	border-radius: $borderRadius;
	@media screen and (max-width: $small) {
		display: flex;
		flex-direction: column;
		height: fit-content;
	}
}

.serviceCardWrapper {
	display: flex;
	background-color: var(--background);
	padding: 3px;
	border-radius: $borderRadius;
	@media screen and (max-width: $small) {
		display: flex;
		flex-direction: column;
		height: fit-content;
	}
}

.serviceTextWrapper {
	@include verticalAlign;
	font-size: 1em;
}

.serviceCard {
	border-radius: $borderRadius;
	display: grid;
	padding: 8px;
	background-color: var(--surface);
	width: 100%;
	grid-template-columns: 1.5fr 10fr 2fr;
	margin: 4px;
	@media screen and (max-width: $small) {
		margin: 1px;
		width: auto;
		margin-top: 5px;
	}
}

.toolTipWrapper {
	@include verticalAlign;
}

.card ~ .card {
	margin-top: 12px;
}

.box {
	width: 9cm;
	background-color: var(--background);
	top: 550px;
	margin-bottom: 40px;
	@media screen and (max-width: $small) {
		position: grid;
		place-self: center;
		top: -30px;
	}
}
