@mixin defaultText {
	padding: 0;
	margin: 0;
}

@mixin centerDiv{
    margin: auto
}
@mixin logoText($fontSize, $fontWeight, $color) {
	@include defaultText;
	font-size: $fontSize;
	font-weight: $fontWeight;
	color: var($color);
}

.textWrapper {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	margin-left: 20px;
	text-align: left;
	height: auto;
}

.logoWithTextWrapper {
	padding-top: 0.5cm;
	padding-bottom: 0.5cm;
	align-items: center;
	display: flex;
	flex-direction: row;
	width: auto;
	height: fit-content;
}

.logoTextBoldWhite {
	@include logoText(1cm, 1000, --text-white-he);
}

.logoTextPink {
	@include logoText(1cm, 350,  --secondary);
}

.divRoundForIcon {
	padding: 0;
	text-align: center;
	height: 0.7cm;
	width: 0.7cm;
	border-radius: 2cm;
}

.iconWithTextWrapper {
	display: grid;
	grid-template-columns: 1fr 9.5fr;
	font-size: large;
}

.iconDiv {
	@include centerDiv;
}

.buttonWrapper {
	border: none;
	background: none;
	margin: 0;
	padding: 0;
}

